body {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
  margin: 2rem;
}

.input-display {
  height: 2rem;
  background-color: rgb(70, 70, 70);
  color: aliceblue;
  margin-bottom: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.keyboard-wrapper {
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.digit {
  padding: 1rem;
}

.zero {
  grid-column: 1/3;
}
