body {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
  margin: 2rem;
}

.input-display {
  height: 2rem;
  background-color: rgb(70, 70, 70);
  color: aliceblue;
  margin-bottom: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.input-placeholder {
  height: 1rem;
  min-width: 1rem;
  padding: .5rem .5rem 1rem .5rem;
  border-radius: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.focused {
  background-color: grey;
}

.keyboard-wrapper {
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.digit {
  padding: 1rem;
}

.zero {
  grid-column: 1/3;
}
